.smartphoneWindow {
    background-image: url('catappback1.png');
    background-size: cover;
    width: 375px;
    height: 667px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.energyBarContainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.catContainer,
.interfacePanel {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.interfacePanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}