.boosters-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный серый фон */
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.daily-booster,
.boosters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.booster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.booster-horizontal {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный серый фон */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.booster {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный серый фон */
    padding: 10px;
    box-sizing: border-box;
}

.booster img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.booster-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный серый фон */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    /* Ограничиваем максимальную ширину */
}

.booster-vertical img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.booster-vertical p {
    margin: 0;
    text-align: center;
}